<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shinkansen</title>
    <meta name="description" content="Find underground music based on your taste.">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
    <div id="input-area">
      <textarea id="input" rows="1" placeholder="Describe your music taste"></textarea>
      <button id="send-button">Send</button>
    </div>
    <div id="output-area">
      <div id="spacer"></div>
    </div>
    <script src="../static/js/scripts.js"></script>
  </body>
</html>
